        <section class="hero is-info is-medium is-bold">
            <div class="hero-head">
                <nav class="navbar">
                    <div class="container">
                        <div class="navbar-brand">
                            <a class="navbar-item" href="/">
                                <img src="/assets/img/logo.png">
                            </a>
                            <span class="navbar-burger burger" data-target="navbarMenu">
                                <span></span>
                                <span></span>
                                <span></span>
                            </span>
                        </div>
                        <div id="navbarMenu" class="navbar-menu">
                            <div class="navbar-end">
                                <div class="tabs is-right">
                                    <ul>
                                        <li>
                                          <a href="/">Home</a>
                                        </li>
                                        <li>
                                          <a href="/pages/learn.html">Learn</a>
                                        </li>
                                        <li>
                                          <a href="/pages/community.html">Community</a>
                                        </li>
                                        <li>
                                          <a href="/pages/news.html">News</a>
                                        </li>
                                        <li>
                                          <a href="/pages/player_list.html">Tournaments</a>
                                        </li>
                                        <li>
                                          <a href="/pages/contact.html">Contact</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="hero-body primary">
                <div class="container has-text-centered">
                    <h1 class="title">
                        Welcome to the Association of Indian Go Players!
                    </h1>
                </div>
            </div>
        </section>
