---
title: "News"
description: "News about the Association of Indian Go Players. The AIGP conducts various tournaments and events. We have weekly meetups."
---
        <section class="container">
            <div class="has-text-centered column is-8 is-offset-2">
                <h2 class="title is-4">Indian Go News</h2>
                <h4 class="subtitle is-6">
                    This page contains information about the state of Go in India, along with any planned events on the AIGP calendar.
                </h4>
            </div>
            <div class="pd-2">
              <div class="tile is-ancestor is-parent is-vertical">
                    {% for post in site.posts %}
                    <article class="tile is-child notification media is-white is-shady">
                        <div class="columns is-multiline">
                            <div class="column is-12 has-text-centered">
                                <h4 class="title is-4">
                                    {{ post.title }}
                                </h4>
                            </div>
                            <div class="column is-4 has-text-centered">
                                {% if post.img %}
                                    <img src="{{ post.img }}" style="max-height: 200px;">
                                {% endif %}
                            </div>
                            <div class="column is-8 is-relative">
                                <em>Date: {{ post.date | date: "%d %b, %Y" }}</em>
                                <br><br>
                                {{ post.description }}
                                <br><br>
                                <span class="is-pulled-bottom-right">
                                    {% if post.external_url and post.external_url != "" %}
                                    <a href="{{ post.external_url }}" target="_blank">More Information</a>
                                    {% else %}
                                    <a href="{{ post.url }}">More Information</a>
                                    {% endif %}
                                </span>
                            </div>
                        </div>
                    </article>
                    {% endfor %}
                </div>
            </div>
        </section>
